<%#= render 'layouts/application' %>
<%#= render :partial => 'layouts/application', :formats => [:html] %>
<% content_for :title do %>
  HomePage...................
<% end %>

<%= content_for :title %>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


