





<footer class="footer">

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-footer">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">




        <small>
          College Life
        </small>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Post",   '#' %></li>
      <li><%= link_to "Collegian", '#' %></li>
      <li><%= link_to "Library", '#' %></li>
      <li><%= link_to "Questions", '#' %></li>

      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
    </div>
   </div>
  </nav>
</footer>